body{
    background-color:#c7d9eb;
    margin: 0;
    margin: bottom 0;
}
header{
    background-color:#445ca1;
}
.intro{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.bank {
    font-style:arial;
    font-weight:bold;
    font-size:3em;
}
.page{
    font-style: calibri;
    font-size:2em;
    margin-top: 15px;
}
main{
    background-color:#c7d9eb;
}
p{
    color: white;
    margin: 20px;
}
.form_validator{
    background: white;
    width: 100%;
    max-width: 500px;
    position: relative;
    left: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subtitle{
    width: 60%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.new_group{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
/* #containerForm{
    width: 100%;
    display: block;
}

/* #containerFormTwo{
    height:30px;
    width: 30%;
    display: none;
} */
#send{
    background-color:#ffc74a;
    font-size: 18px;
    height:30px;
    width: 30%;
    border-radius: 10px;
}
footer{
    background-color:#718fee;
    text-align: center;
}