body{
    background-color:#c7d9eb;
}
header{
    background-color:#445ca1;
    padding: 3px 0px 3px;
}
.bank {
    font-style:arial;
    font-weight:bold;
    font-size:3em;
}
.page{
    font-style: calibri;
    font-size:25px
}
footer{
    background-color:#718fee;
    text-align: center;
}
main{
    background-color:#c7d9eb;
}
h1{
    color:white;
    margin-top: 0px;
}
p{
    color: white;
    margin: 20px;
}
.conteiner{
    width: 80%;
    max-width: 1000px;
    padding: 40px 30px 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width:100%;
    max-width: 500px;
    position:relative;
    margin-left: 450px;
    background: black;
}
.card{
    border-radius: 30px;
    min-height:315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chip{
    width: 100%;
    max-width:80px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#card_test{
    text-align:center;
    background-color: white;
    max-width: 600px;
    margin-left: 400px;
    margin-right: 350px;
}
#send{
    background-color:#ffc74a;
}