main {
  background-image: url("background.png");
  
}
header {
  background-color: #f8c1c9;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.business {
  margin-left: 20px;
  color: #472d3c;
  font-style: arial;
  font-weight: bold;
  font-size: 3em;
}
.start {
  margin-right: 20px;
  color: #6a4259;
  font-style: calibri;
  font-size: 40px;
  margin-top: 10px;
}
.conteiner{
  width: 50%;
  max-width: 1000px;
  padding: 40px 30px 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.card{
  width:150%;
  max-width: 370px;
  position:relative;
  background: black;
}
.card{
  border-radius: 30px;
  min-height:55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#bank{
  font-style:arial;
  font-weight:bold;
  font-size:2em;
}
.box{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.chip{
  width: 100%;
  max-width:60px;
  margin: 10px 10px 10px;
}
#onePage {
  background: white;
  width: 100%;
  max-width: 500px;
  position: relative;
  left: 450px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#newAlert{
    color:rgb(248, 8, 8);
    font-size: 20px;
    font-style:oblique;
}
#twoPage {
  background: white;
  width: 100%;
  max-width: 500px;
  position: relative;
  left: 450px;
  text-align: center;
}
.subtitle {
  width: 60%;
  display: flex;
  justify-content: space-around;
  
}
.new_group {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#send {
  background-color: #ffc74a;
  font-size: 18px;
  height: 30px;
  width: 30%;
  border-radius: 10px;
}
#homePage {
  background-color: #ffc74a;
  font-size: 18px;
  height: 30px;
  width: 30%;
  border-radius: 10px;
}
footer {
  background-color: #d7e7f7;
  text-align: center;
}
#correctAnswer{
  color:green;
}
#wrongAnswer{
  color: red;
}
#imageAnswer{
  width: 300px;
}